* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --text-color: white;
  --bg-url: url(./assets/background_1.jpg);
  --stroke-color: rgba(194, 189, 189, 0.5);
  --surface-color: rgba(7, 4, 4, 0.5);
  --surface-color-hover: rgb(95, 97, 102);
  --highlight-color: #4e4c5e;
  --foot-border: #4e4c5e;
  --switch-bg-url: url(./assets/moon-stars.svg);
}
.light {
  --text-color: black;
  --bg-url: url(./assets/background_2.jpg);
  --stroke-color: rgb(31, 23, 23);
  --surface-color: rgb(143, 134, 134);
  --surface-color-hover: rgb(197, 194, 194);
  --highlight-color: gray;
  --foot-border: rgb(31, 23, 23);
  --switch-bg-url: url(./assets/sun.svg);
}
body {
  background: var(--bg-url);
  background-position: top center;
  background-size: 40cm;
  background-repeat: no-repeat;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}
#profile {
  text-align: center;
  padding: 24px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

#profile img {
  width: 112px;
}
#switch {
  width: 64px;
  position: relative;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  right: 0;
  left: initial;
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 2px solid var(--stroke-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

p {
  margin: 0px 0px 25px 0px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0px;
}
ul {
  list-style: none;
}
ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 24px;
  background: var(--surface-color);
  border: 2px solid var(--stroke-color);
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s;
}
ul li a:hover {
  background: var(--surface-color-hover);
  border: 2px solid var(--text-color);
}
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  display: flex;
  gap: 10px;
  text-align: center;
  justify-content: center;
  background: rgba(7, 4, 4, 0.5);
  border: 2px solid var(--foot-border);
  border-radius: 8px;
  padding: 10px 10px;
  margin: 10px;
}
img {
  border-radius: 50%;
}
